# System
**/Thumbs.db
**/.DS_Store

# Environment
# TODO: Only ignore .env files when running docker-compose.prod.yml.
# **/.env*

# Development
**/.docker
!**/.docker/entrypoint.sh
!**/.docker/nginx.conf
!**/.docker/.env.production
**/lint-staged.config.js
**/prettier.config.js
**/vite.config.js
**/node_modules
