# System
**/Thumbs.db
**/.DS_Store

# Environment
# **/.env* # TODO: Only ignore when running docker-stack.prod.yml.

# Development
**/.docker
!**/.docker/entrypoint.sh
!**/.docker/nginx.conf
!**/.docker/.env.production
**/lint-staged.config.js
**/prettier.config.js
# **/vite.config.js # TODO: Only ignore when running docker-stack.prod.yml.
**/node_modules
