name: feedstand

services:
  frontend:
    image: feedstand/frontend:dev
    build:
      context: ..
      dockerfile: apps/frontend/.docker/Dockerfile.dev
    environment:
      VITE_API_URL: ${FRONTEND_API_URL}
    ports:
      - ${FRONTEND_PORT}:3000
    develop:
      watch:
        - action: sync
          path: ..
          target: /home/bun
        - action: rebuild
          path: ../bun.lock

  backend:
    image: feedstand/backend:dev
    build:
      context: ..
      dockerfile: apps/backend/.docker/Dockerfile.dev
    environment:
      FEATURE_MIGRATOR: ${BACKEND_FEATURE_MIGRATOR}
      FEATURE_SERVER: ${BACKEND_FEATURE_SERVER}
      FEATURE_WORKER: ${BACKEND_FEATURE_WORKER}
      FEATURE_METRICS: ${BACKEND_FEATURE_METRICS}
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_PASS: ${DATABASE_PASS}
      QUEUE_HOST: ${QUEUE_HOST}
      QUEUE_PORT: ${QUEUE_PORT}
    ports:
      - ${BACKEND_PORT}:3000
    develop:
      watch:
        - action: sync
          path: ..
          target: /home/bun
        - action: rebuild
          path: ../bun.lock
    depends_on:
      database:
        condition: service_healthy
      queue:
        condition: service_started

  database:
    image: postgres:18-alpine
    ports:
      - ${DATABASE_PORT}:5432
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASS}
    volumes:
      - database_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${DATABASE_USER}", "-d", "${DATABASE_NAME}"]
      interval: 2s
      timeout: 5s
      retries: 10

  queue:
    image: redis:8-alpine
    ports:
      - ${QUEUE_PORT}:6379
    volumes:
      - queue_data:/data

volumes:
  database_data:
  queue_data:
