name: feedstand

services:
  # frontend:
  #   image: feedstand/frontend:dev
  #   build:
  #     context: ..
  #     dockerfile: apps/frontend/.docker/Dockerfile.dev
  #   env_file:
  #     - ../apps/frontend/.env
  #   ports:
  #     - 4000:4000
  #   volumes:
  #     - ..:/home/node
  #     - /home/node/node_modules
  #   restart: unless-stopped
  #   depends_on:
  #     - backend

  backend:
    image: feedstand/backend:dev
    build:
      context: ..
      dockerfile: apps/backend/.docker/Dockerfile.dev
    env_file:
      - ../apps/backend/.env
    environment:
      FEATURE_SERVER: "true"
      FEATURE_WORKER: "true"
      SERVER_HOST: 0.0.0.0
      SERVER_PORT: 4001
      DATABASE_HOST: database
      QUEUE_HOST: queue
    ports:
      - 4001:4001
    volumes:
      - ..:/home/node
      - /home/node/node_modules
    depends_on:
      - database
      - queue
    restart: unless-stopped

  database:
    image: postgres:17-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASS}
    volumes:
      - database_data:/var/lib/postgresql/data
    restart: unless-stopped

  queue:
    image: redis:7-alpine
    ports:
      - 6379:6379
    volumes:
      - queue_data:/data
    restart: unless-stopped

volumes:
  database_data:
  queue_data:
