name: feedstand

services:
  # frontend:
  #   image: feedstand/frontend:dev
  #   build:
  #     context: ..
  #     dockerfile: apps/frontend/.docker/Dockerfile.dev
  #   environment:
  #     API_URL: ${FRONTEND_API_URL}
  #   ports:
  #     - 4000:4000
  #   volumes:
  #     - ..:/home/bun
  #     - /home/bun/node_modules
  #     - /home/bun/apps/frontend/node_modules
  #   depends_on:
  #     - backend

  backend:
    image: feedstand/backend:dev
    build:
      context: ..
      dockerfile: apps/backend/.docker/Dockerfile.dev
    environment:
      SERVER_HOST: ${BACKEND_SERVER_HOST}
      SERVER_PORT: ${BACKEND_SERVER_PORT}
      FEATURE_SERVER: ${BACKEND_FEATURE_SERVER}
      FEATURE_WORKER: ${BACKEND_FEATURE_WORKER}
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_PASS: ${DATABASE_PASS}
      QUEUE_HOST: ${QUEUE_HOST}
      QUEUE_PORT: ${QUEUE_PORT}
    ports:
      - ${BACKEND_SERVER_PORT}:${BACKEND_SERVER_PORT}
    volumes:
      - ..:/home/bun
      - /home/bun/node_modules
      - /home/bun/apps/backend/node_modules
    depends_on:
      database:
        condition: service_healthy
      queue:
        condition: service_started

  database:
    image: postgres:18-alpine
    ports:
      - ${DATABASE_PORT}:5432
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASS}
    volumes:
      - database_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${DATABASE_USER}", "-d", "${DATABASE_NAME}"]
      interval: 2s
      timeout: 5s
      retries: 10

  queue:
    image: redis:8-alpine
    ports:
      - ${QUEUE_PORT}:6379
    volumes:
      - queue_data:/data

volumes:
  database_data:
  queue_data:
