name: feedstand

services:
  # frontend:
  #   image: feedstand/frontend:dev
  #   build:
  #     context: ..
  #     dockerfile: apps/frontend/.docker/Dockerfile.dev
  #   environment:
  #     API_URL: http://backend:4001
  #   ports:
  #     - 4000:4000
  #   volumes:
  #     - ..:/home/bun
  #     - /home/bun/node_modules
  #   depends_on:
  #     - backend

  backend:
    image: feedstand/backend:dev
    build:
      context: ..
      dockerfile: apps/backend/.docker/Dockerfile.dev
    environment:
      SERVER_HOST: 0.0.0.0
      SERVER_PORT: 4001
      DATABASE_HOST: database
      DATABASE_NAME: feedstand
      DATABASE_USER: feedstand
      DATABASE_PASS: feedstand
      QUEUE_HOST: queue
      FEATURE_SERVER: true
      FEATURE_WORKER: true
    ports:
      - 4001:4001
    volumes:
      - ..:/home/bun
      - /home/bun/node_modules
    depends_on:
      - database
      - queue

  database:
    image: postgres:18-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: feedstand
      POSTGRES_USER: feedstand
      POSTGRES_PASSWORD: feedstand
    volumes:
      - database_data:/var/lib/postgresql/data

  queue:
    image: redis:8-alpine
    ports:
      - 6379:6379
    volumes:
      - queue_data:/data

volumes:
  database_data:
  queue_data:
