name: Build
run-name: "Build: ${{ github.sha }}"

on:
  workflow_run:
    workflows: [Test]
    types:
      - completed

permissions:
  packages: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    strategy:
      matrix:
        app: [frontend, backend]
    env:
      TAG_LATEST: ghcr.io/${{ github.repository_owner }}/${{ matrix.app }}:latest
      TAG_COMMIT: ghcr.io/${{ github.repository_owner }}/${{ matrix.app }}:${{ github.sha }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push ${{ matrix.app }}
        run: |
          docker buildx build \
            --platform linux/amd64 \
            -t ${{ env.TAG_LATEST }} \
            -t ${{ env.TAG_COMMIT }} \
            -f apps/${{ matrix.app }}/.docker/Dockerfile.prod \
            --build-arg VERSION_TAG=${{ github.sha }} \
            --push \
            .
