name: Deploy
run-name: "Deploy: ${{ github.sha }}"

on:
  workflow_run:
    workflows: [Build]
    types:
      - completed
  workflow_dispatch:
    inputs:
      environment:
        description: Environment
        required: true
        type: choice
        options:
          - staging
          - production

permissions:
  packages: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create env file
        run: |
          echo "${{ secrets.ENV_FILE }}" > .env
          echo "VERSION_TAG=${{ github.sha }}" >> .env

      - name: Deploy the application
        uses: cssnr/stack-deploy-action@v1
        with:
          file: .docker/docker-stack.prod.yml
          name: ${{ secrets.SERVER_STACK }}
          host: ${{ secrets.SERVER_HOST }}
          user: ${{ secrets.SERVER_USER }}
          ssh_key: ${{ secrets.SERVER_SSH_KEY }}
          env_file: .env
